* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: f1;
    src: url(Poppins/gagalin.otf);
}

@font-face {
    font-family: f2;
    src: url(Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: f3;
    src: url(Poppins/Poppins-Light.ttf);
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}


#container {
    width: 100%;
    height: 100%;
    background: url(images/background2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header {
    align-items: center;
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
}

#header a {
    font-family: f2;
    color: white;
    text-decoration: none;
}

#logo img {
    width: 70px;
    height: auto;
}

#nav a{
    text-decoration: none;
    color: whitesmoke;
    font-family: f2;
    font-size: 2vh;
    margin-left: 2vh;
    transition: 0.5s ease;
}

#nav a:hover {
    color: cornflowerblue;
    border-bottom: 2px dashed whitesmoke;
}

#div1 {
    width: 70%;
    position: relative;
    right: 20vh;
    position: relative;
    top: 20vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

#div1 h1{
    margin-left: 10vh;
    position: relative;
    width: 300px;
    height: 200px;
    font-size: 70px;
    color: seagreen;
    font-family: f1;
}

#div1 a {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: grid;
    margin-top: 20vh;
    font-size: 3vh;
    font-family: f2;
    background-color: #2e8b57;
    color: whitesmoke;
    border-radius: 2vh;
    width: 350px;
    height: 120px;
    position: relative;
    cursor: pointer;
}

#div1 a:hover {
    background-color: cornflowerblue;
}

#container2 {
    position: relative;
    padding-inline: 5vh;
    padding: 5vh;
}

#container2 img {
    filter: drop-shadow(2px 2px 15px black);
    position: relative;
    width: 250px;
    margin-left: 90vh;
    margin-bottom: 10vh;
}

#pa1 {
    margin-top: 15vh;
    position: relative;
}

#h1{
    font-size: 50px;
    font-family: f1;
    color: seagreen;
}

#p1{
    font-size: 40px;
    font-family: f3;
    color: seagreen;
}

#pa2 {
    position: relative;
    bottom: 20vh;
    position: relative;

}

#h2{
    font-size: 50px;
    font-family: f1;
    color: seagreen;
}

#p2{
    font-family: f3;
    text-align: justify;
    color: seagreen;
}

#services {
    font-size: 40px;
    font-family: f3;
    color: #2e8b57;
}

#container3 {
    padding: 5vh;
    position: relative;
}

#container3 img {
    position: relative;
    width: 100%;
}

#container4 {
    position: relative;
    display: grid;
    padding: 2vh;
    text-align: center;
    align-items: center;
    justify-content: center;

}

#container4 h1 {
    font-family: f3;
    color: #2e8b57;
}

#container4 input {
    margin-top: 2vh;
    width: 80vh;
    height: 5.5vh;
}

#container4 button {
    position: relative;
    background-color: seagreen;
    width: 250px;
    height: 60px;
    margin-top: 2vh;
    color: whitesmoke;
    font-family: f2;
    border: none;
    border-radius: 1vh;
}

#container4 button:hover {
    background-color: cornflowerblue;
}

::placeholder {
    position: relative;
    left: 2vh;
    font-size: 20px;
}

.linha {
    background-color: seagreen;
    width: 90%;
    height: 6px;
    position: relative;
    left: 7vh;
}

#container5 {
    top: 10vh;
    left: 10vh;
    position: relative;
    width: 80%;
    height: 300px;
    display: inline-block;
    padding: 5vh;
    color: seagreen;
}

#ctt {
    top: 0;
    position: relative;
}

#container5 h1 {
    font-size: 60px;
    font-family: f1;
}

#container5 p {
    font-size: 30px;
    font-family: f2;
}

#container5 img {
    position: relative;
    bottom: 30vh;
    left: 70vh;
}

@media screen and (max-width: 720px) {
    #header {
        padding: 15px 30px;
    }

    #logo img {
        width: 40px;
    }

    #nav a {
        font-size: 1.4vh;
    }

    #div1 {
        left: 7vh;
    }

    #div1 h1 {
        font-size: 40px;
    }
    #div1 a{
        width: 200px;
        height: 70px;
        font-size: 15px;
        margin-left: 10vh;
        margin-top: 10vh;
    }

    #container2 img {
        width: 90px;
        margin-left: 30vh;
    }

    #h1 {
        font-size: 20px;        
    }

    #p1 {
        font-size: 20px;
    }

    #pa2 {
        margin-top: 15vh;
    }

    #services {
        font-size: 20px;
    }

    #h2 {
        font-size: 20px;
    }

    #container4 {
        position: relative;
        bottom: 10vh;
    }

    #container4 button {
        width: 160px;
        height: 40px;
    }

    #container4 input{
        width: 40vh;
        height: 5vh;
    }

    ::placeholder {
        font-size: 15px;
    }

    #container4 h1 {
        font-size: 20px;
    }

    .linha {
        left: 2.5vh;
        position: relative;
        height: 3px;
    }

    #container3 {
        padding: 1vh;
    }

    #container5 {
        position: relative;
        left: 0;
        top: 0;
        height: auto;
        width: 300px;
    }
    
    #ctt {
        position: relative;
        height: 150px;
        width: 250px;
        right: 2vh;
    }
    
    #container5 h1 {
        font-size: 25px;
    }
    
    #container5 p {
        font-size: 15px;
    }
    
    #container5 img {
        position: relative;
        width: 150px;
        left: 27vh;
        bottom: 15vh;
    }
  }